<% provide :title, t(".title") %>
<p>
  <%= t ".the" %> <a href="<%= t "url_tut" %>"><em><%= t "rails_tut" %></em></a> <%= t ".is_a" %>
  <a href="<%= t "url_book" %>"><%= t ".book"%></a> <%= t ".and" %>
  <a href="<%= t "url_screen" %>"><%= t ".screencast" %></a>
  <%= t ".content1" %>
  <a href="<%= t "rails_tut" %>"><%= t "rails" %></a>.
  <%= t ".content2" %>

</p>
