<% provide :title, t(".title")  %>
<p>
  <%= t ".content1" %> <a href="<%= t ".url_help" %>"><%= t ".content2" %></a>.
  <%= t ".content3" %> <a href="<%= t ".url_book" %>"><em><%= t "rails_tut" %></em> book</a>
</p>
